{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}
{% block body %}
    <h2>Afficher une sortie</h2>
    <table class="table table-striped">
        <thead>
    <tr>
        <th>Identifiant de la sortie</th>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Date limite d'inscription</th>
        <th>Nombre de places</th>
        <th>Nombre de participants</th>
        <th>Descritption et infos</th>
        <th>Ville organisatrice</th>
    </tr>
        </thead>

    <tbody>
        <td> {{ sortie.id }}</td>
        <td> {{ sortie.nom }}</td>
        <td> {{ sortie.dateheureDebut | date('Y-m-d')}}</td>
        <td> {{ sortie.datelimiteInscription | date('Y-m-d')}}</td>
        <td>{{ sortie.nbinscriptionMax }}</td>
        <td>{{ sortie.infosSortie }}</td>
        <td>A faire</td>


    </tbody>
    </table>

    <table class="table table-striped">
        <thead>
    <tr>
        <th>Liste des participants</th>
        <th>Pseudo</th>
        <th>Nom</th>
    </tr>
        </thead>
        <tbody>
        <td>{{ nbParticipants }}</td>
        {% for participants in sortie.participants %}
            <td>
               <a href="{{ path('app_user_show', {'id': participants.id}) }}"> {{ participants.username }} </a>
            </td>
            <td> {{ participants.nom }} {{ participants.prenom }}</td>
        {% endfor %}

    </tr>
        </tbody>
    </table>



    {% if user is not null %}


        {% if user not in sortie.participants %}
            <a href="{{ path('app_inscription',{'id': sortie.id}) }}">S'inscrire</a>
        {% endif %}


        {% if user in sortie.participants %}
            <p>Vous êtes inscrit(e) <a href="{{ path('app_annulerInscription',{'id': sortie.id}) }}">Annuler</a></p>
        {% endif %}

        {% if user == sortie.organisateur %}

            <a href="{{ path('app_modifier',{'id': sortie.id}) }}">MODIFIER</a>
            <a href="{{ path('app_delete',{'id': sortie.id}) }}">DELETE</a>
        {% endif %}

    {% endif %}
{% endblock %}