{% extends 'base.html.twig' %}

{% block title %}Liste sortie{% endblock %}
{% block body %}
<body>
<h1>Liste des sorties</h1>
<table>
    <thead>
    <tr>
        <th>Nom:</th>
       <th>Infos</th>
        <th>date début</th>
        <th>Détail</th>
        <th>Date de la sortie</th>
        <form id="form" action="{{ path('app_sortie') }}" method="get">
            <select name="sort" onchange="this.form.submit()">
                <option value="">-- Choisir l'ordre de tri --</option>
                <option value="DESC">Plus ancien</option>
                <option value="ASC" >Plus récent</option>
            </select>
        </form>
    </tr>
    </thead>
    <tbody>
    {% set sortedSorties = sorties|sort((a, b) => a.dateheureDebut < b.dateheureDebut) %}
    {% if sortedSorties is empty %}
    {% set sortedSorties = 'DESC' %}
    {% endif %}
    {% if app.request.query.has('sort') %}
    {% set sortedSorties = app.request.query.get('sort') %}
    {% endif %}
        {% if sortedSorties == 'ASC' %}
    {% set sortedSorties = sorties|sort((a, b) => a.dateheureDebut < b.dateheureDebut) %}
    {% else %}
    {% set sortedSorties = sorties|sort((a, b) => a.dateheureDebut > b.dateheureDebut) %}
    {% endif %}
    {% for sortie in sortedSorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.infosSortie }}</td>
            <td>{{ sortie.dateheureDebut|date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('app_detail',{'id': sortie.id}) }}">Détail/Inscription</a></td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>


{% endblock body %}