{% extends 'base.html.twig' %}

{% block title %}Liste sortie{% endblock %}
{% block body %}
<body>
<table>
    <thead>
    <tr>
        <th>Nom:</th>
        <th>Date et heure début:</th>
        <th>Durée:</th>
        <th>Date limite d'inscription:</th>
        <th>Nombre d'inscriptions max:</th>
        <th>Info sortie:</th>
        <th>État:</th>
        <th>Lieu:</th>
        <th>Site:</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.date_heure_debut|date('d-m-Y H:i:s') }}</td>
            <td>{{ sortie.duree|date('H:i:s') }}</td>
            <td>{{ sortie.date_limiteinscription|date('d-m-Y H:i:s') }}</td>
            <td>{{ sortie.nb_inscription_max }}</td>
            <td>{{ sortie.info_sortie }}</td>
            <td>{{ sortie.etat }}</td>
            <td>{{ sortie.lieu }}</td>
            <td>{{ sortie.site }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>


{% endblock body %}